!/[Aa]ssets/**/*.meta
._*
.consulo/
.DS_Store
.gradle/
.Spotlight-V100
.Trashes
.vs/
.vscode/
[Bb]uild
[Bb]uild/
[Bb]uilds/
[Dd]esktop.ini
[Ee]xported[Oo]bj/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Tt]humbs.db
*.apk
*.booproj
*.cab
*.csproj
*.CSPROJ
*.lnk
*.mdb
*.mdb.meta
*.mp4
*.mp4.meta
*.MP4
*.MP4.meta
*.msi
*.msix
*.msm
*.msp
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.SLN
*.stackdump
*.suo
*.svd
*.tmp
*.unityproj
*.user
*.userprefs
*.wav
*.wav.meta
*.VC.db
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/Plugins/Editor/JetBrains*
[Aa]ssets/Plugins/GitHub/Editor/x64*
[Aa]ssets/Plugins/GitHub/Editor/x86*
[Aa]ssets/SteamVR/Input/Editor/[Rr]esources*
[Aa]ssets/ParticipantLogFiles/participant*.txt
[Aa]ssets/ParticipantLogFiles/participant*.txt.meta
[Aa]ssets/Plugins/ResonanceAudio/Plugins/x86.meta
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
$RECYCLE.BIN/
crashlytics-build.properties
ehthumbs_vista.db
ehthumbs.db
ExportedObj/
# Icon?
sysinfo.txt
Thumbs.db
Thumbs.db:encryptable
unityProject.vrmanifest


#visualstudio
*.rsuser
*.userosscache
*.sln.docstates
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
artifacts/
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
$tf/
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/
.sass-cache/
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/
*.nupkg
*.snupkg
!**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
csx/
*.build.csdef
ecf/
rcf/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.[Cc]ache
!?*.[Cc]ache/
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.csGenerated_Code/
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak
*.mdf
*.ldf
*.ndf
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
FakesAssemblies/
*.GhostDoc.xml
.ntvs_analysis.dat
node_modules/
*.plg
*.opt
*.vbw
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions
.paket/paket.exe
paket-files/
.fake/
.cr/personal
__pycache__/
*.pyc
*.tss
*.jmconfig
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
OpenCover/
ASALocalRun/
*.binlog
*.nvuser
.mfractor/
.localhistory/
healthchecksdb
MigrationBackup/